<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <title>一折数码欢迎您</title>
    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">
    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="assets/i/favicon.png">
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="/Static/yizhelogo.png">
    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="apple-touch-icon-precomposed" href="app-icon72x72@2x.png">
    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#0e90d2">
    <link rel="stylesheet" href="~/Content/amazeui.min.css">
</head>
<body>
    <header class="am-topbar am-topbar-fixed-top">
        <div class="am-container">
            <h1 class="am-topbar-brand">
                <a href="#">一折数码</a>
            </h1>
            <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-secondary am-show-sm-only"
                    data-am-collapse="{target: '#collapse-head'}">
                <span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span>
            </button>
            <div class="am-collapse am-topbar-collapse am-header" id="collapse-head">
                <ul class="am-nav am-nav-pills am-topbar-nav">
                    @if (ViewBag.Title == "HomeIndex")
                    {
                        <li class="am-active">@Html.ActionLink("首页", "Index", "Home")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("首页", "Index", "Home")</li>
                    }
                    @if (ViewBag.Title == "ActivityIndex")
                    {
                        <li class="am-active">@Html.ActionLink("活动", "Index", "Activity")</li>
                    }
                    else
                    {
                        <li> @Html.ActionLink("活动", "Index", "Activity")</li>
                    }
                    <li><a href="#" onclick="openSlide()">商品分类</a></li>
                </ul>
                @if (ViewBag.state == 0)
                {
                    <div class="am-topbar-right">
                        <button class="am-btn am-btn-secondary am-topbar-btn am-btn-sm">
                            <span class="am-icon-pencil"></span> @Html.ActionLink("注册", "RegisterView", "User")
                        </button>
                    </div>

                    <div class="am-topbar-right">
                        <button class="am-btn am-btn-primary am-topbar-btn am-btn-sm">
                            <span class="am-icon-user"></span> @Html.ActionLink("登陆", "LoginView", "User")
                        </button>
                    </div>
                }
                else
                {
                    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
                        <ul class="am-topbar-right am-nav am-nav-pills am-topbar-nav">
                            <li class="am-dropdown" data-am-dropdown>
                                <button class="am-dropdown-toggle am-btn am-btn-primary am-topbar-btn am-btn-sm" data-am-dropdown-toggle href="javascript:;">
                                    <span class="am-icon-users"></span> 我 @ViewBag.userName <span class="am-icon-caret-down"></span>
                                </button>
                                <ul class="am-dropdown-content">
                                    <li><a href="/User/ShowInf"><span class="am-icon-user"></span> 账户</a></li>
                                    <li><a href="/Order/Index"><span class="am-icon-jpy"></span> 我的订单</a></li>
                                    <li><a href="/Favorite/Index"><span class="am-icon-plus-square"></span>我的收藏</a></li>
                                    <li><a href="/ShoppingCart/Index"><span class="am-icon-shopping-cart"></span>我的购物车</a></li>
                                    <li><a href="/User/Addr"><span class="am-icon-map"></span>我的地址</a></li>
                                    <li><a href="/User/Logout"><span class="am-icon-power-off"></span>登出</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                }
            </div>
        </div>
    </header>
    <!--在这里编写你的代码-->
    <!-- 侧边栏内容 -->
    <nav data-am-widget="menu" class="am-menu  am-menu-offcanvas1"
         data-am-menu-offcanvas>
        <a id="open-slide" href="javascript: void(0)" class="am-menu-toggle" style="visibility:hidden">
            <i hidden="hidden" class="am-menu-toggle-icon am-icon-bars"></i>
        </a>
        <div class="am-offcanvas">
            <div class="am-offcanvas-bar">
                <ul class="am-menu-nav am-avg-sm-1">
                    @for (int i = 0; i < ViewBag.categoryList.Count; i++)
                    {
                        <li class="" style="pointer-events:initial;">
                            <a href="/Product/ListByCla/@ViewBag.categoryList[i].ID">@ViewBag.categoryList[i].CategoryName</a>
                        </li>
                    }

                </ul>
            </div>
        </div>
    </nav>
    <br />
    <br />
    <div class="am-g">
        <div class="am-u-sm-3">
            <img src="/Static/yizhelogo.png" style="height:120px;width:350px;"/>
        </div>
        <div class="am-u-sm-6 am-u-sm-centered">
            <div class="am-input-group am-input-group-primary">
                <span class="am-input-group-btn">
                    <button class="am-btn am-btn-primary" type="button" onclick="search()"><span class="am-icon-search"></span></button>
                </span>
                <input type="text" class="am-form-field" id="searchInput">
            </div>
        </div>
    </div>
    <br />
    <hr />
    <div>
        @RenderBody()
    </div>
    <footer data-am-widget="footer"
            class="am-footer am-footer-default"
            data-am-footer="{  }">
        <div class="am-footer-switch">
            <span class="am-footer-ysp">
                数据库课设
            </span>
            <span class="am-footer-divider"> | </span>
            <a class="am-footer-desktop">
                一折数码
            </a>
        </div>
        <div class="am-footer-miscs ">
            <p>
                由 <a href="#" title="一折团队"
                     target="_blank" class="">一折团队</a>
                创作
            </p>
        </div>
        <div data-am-widget="gotop" class="am-gotop am-gotop-default">
            <a href="#top" title="回到顶部">
                <span class="am-gotop-title">回到顶部</span>
                <i class="am-gotop-icon am-icon-chevron-up"></i>
            </a>
        </div>
    </footer>
    <!--[if (gte IE 9)|!(IE)]><!-->
    <script src="~/Scripts/jquery.min.js"></script>
    <!--[endif]-->
    <!--[if lte IE 8 ]-->
    <script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
    <script src="~/Scripts/amazeui.ie8polyfill.min.js"></script>
    <!--[endif]-->
    <script src="~/Scripts/amazeui.min.js"></script>
    <script>
        function search() {
            var key = $("#searchInput").val();


            var form = $("<form method='post'></form>");
            form.attr({ "action": "/Product/Search" });
            var input = $("<input type='hidden'>");
            input.attr({ "name": "search_string" });
            input.val(key);
            form.append(input);
            form.submit();
        }

        function openSlide() {
            document.getElementById("open-slide").click();
        }



    </script>
</body>
</html>